@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #343a40;
}

/* Containers */
.container-wrapper {
  margin: 0 0.5em;
}

.container {
  background-color: #f7f8fc;
  padding: 0 0.8em 1em;
  margin: 0 auto;
  max-width: 500px;
}

.header-icons-wrapper {
  padding: 0.2em 1.2em 0 1.2em;
  margin: 2em auto;
  background-color: #f7f8fc;
  border-radius: 10px;
}

/* Header */
.header-icons-wrapper {
  border: none;
}

.header-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5em;
}

.icon-profile,
.chat-bubble {
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}

.logo {
  width: 25%;
  cursor: pointer;
}

/* Dog container */

.dog-profile-container {
  transition: opacity 0.5s;
}

.dog-card {
  position: relative;
  transition: opacity 6s;
}

.dog-img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  /* object-position: right; */
}

.dog-info {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: #fff;
  max-width: 380px;
}

h1 {
  font-size: 1.8rem;
  margin: 0;
}

.bio {
  font-size: 1.3rem;
}

/* Swipe buttons */
.swipe-icons-container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.like-btn,
.nope-btn {
  cursor: pointer;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0px 5px 5px #e9e9ea;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
}

.nope-btn:hover,
.nope-btn:focus {
  background-color: #ffe7ef;
}

.like-btn:hover,
.like-btn:focus {
  background-color: #dbfff4;
}

.like-icon,
.no-icon {
  vertical-align: middle;
}

/* Badges */

.nope-badge,
.like-badge {
  display: none;
  width: 35%;
  position: absolute;
  left: 30px;
  top: 60px;
  transform: rotate(-35deg);
  z-index: 1;
}

/* End page */

.end-text {
  text-align: center;
  padding-bottom: 2rem;
}

.liked-dog-card {
  text-align: center;
}

.liked-img {
  border-radius: 50%;
  height: 13em;
  width: 13em;
  object-fit: cover;
  margin-bottom: 2em;
}

/* Reset Button */

.reset-btn {
  display: none;
  margin: 0 auto;
  font-size: 1.2rem;
  background-color: #ff5757;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
}

.reset-btn:hover {
  background-color: #e53e3e;
}

/* Media queries */

@media (min-width: 480px) {
  .like-btn,
  .nope-btn {
    padding: 2em;
  }
  .dog-img {
    max-height: 700px;
    margin: 0 auto;
  }
  .icon-profile,
  .chat-bubble {
    width: 2.3em;
    height: 2.3em;
  }
}
